<div class="dewa-product-badges-container">
    {% for badge in badges %}
        <div class="dewa-product-badge"
             style="background-color: {{ badge.backgroundColor }}; color: {{ badge.iconColor }}; fill: {{ badge.iconColor }}"
             data-toggle="tooltip"
             title="{{ badge.translated.name }}">
            {{ badge.svgIcon.content|raw }}
        </div>
    {% endfor %}
</div>
