{# copy from storefront\page\account\profile\recover-password.html.twig #}
<form method="post"
      class="account-recover-password-form card"
      action="{{ path('frontend.account.recover.request') }}"
      data-form-csrf-handler="true"
      data-form-validation="true">
    <div class="dewa-account-login-steps-headline">
        {{ 'account.profileRecoverPasswordTitle'|trans }}
    </div>

    <div class="card-text account-recover-password-info">
        {{ 'account.profileRecoverPasswordInfo'|trans }}
    </div>

    <div class="form-group">
        <div class="row form-row">
            <div class="col-sm-8 mb-2 mb-sm-0">
                <input type="email"
                       class="form-control"
                       placeholder="{{ "account.loginMailPlaceholder"|trans|striptags }}"
                       id="recoverMail"
                       name="email[email]"
                       required="required">
            </div>

            <div class="col-sm-4">
                <button type="submit"
                        class="account-recover-password-submit btn btn-block btn-primary"
                        title="{{ 'account.profileRecoverPasswordSubmit'|trans }}">
                    {{ 'account.profileRecoverPasswordSubmit'|trans }}
                </button>
            </div>
        </div>
    </div>

    {{ sw_csrf('frontend.account.recover.request') }}
</form>
